* {
    margin: 0;
    padding: 0;
}

// 整体盒子
.body_box {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    background-repeat: no-repeat;

    .up_box {
        height: 100%;
        width: 100%;
        background-color: #f2f5f6;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        text-align: center;
        line-height: 40px;
        color: #1989fa;
    }


    // 轮播
    .swiper_box {
        // height: 1210px;
        height: 1200px;
        width: 100%;
        display: flex;
        // color: white;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: #ae1414;


        // 轮播图片盒子
        .swiper_max {
            height: 100%;
            width: 100%;
            background-color: #000;
            line-height: 100%;

            .swpier_img {
                height: 100%;
                width: 100%;
                // line-height: 1279px;
                // text-align: center;
            }

            :nth-child(2) {
                .swpier_img {
                    background-color: #24cfdb;
                }
            }

            :nth-child(3) {
                .swpier_img {
                    background-color: #20b702;
                }
            }

            :nth-child(4) {
                .swpier_img {
                    background-color: #0214b7;
                }
            }

            :nth-child(5) {
                .swpier_img {
                    background-color: #a8b702;
                }
            }
        }
    }

    // 模块标题
    .title_box {
        height: auto;
        width: auto;
        font-size: 45px;
        margin-top: 100px;
        margin-bottom: 60px;
        // font-weight: bold;
        font-family: sjkt;

        .more {
            text-decoration: none;
            color: #00ab25;
        }
    }

    // 乡村发展
    .develop_box {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        // background-color: #24db73;

        //内容盒子
        .conent_box {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            // 设置伪类，使鼠标经过时会调整透明度属性为1，将遮罩层显示出来
            .con_box:hover {
                .name_box {
                    opacity: 1;
                }
            }

            .con_box {
                height: 887px;
                width: 20%;
                background-color: #ffffff;
                border-radius: 10px;
                transition: all 0.5s;

                .img_box {
                    height: 100%;
                    width: 100%;
                    background-color: #000;
                }

                // 遮罩层样式
                .name_box {
                    height: 100%;
                    width: 100%;
                    background-color: #00000071;
                    color: #fff;
                    text-align: center;
                    line-height: 900px;
                    font-size: 40px;
                    font-weight: bold;
                    margin: 0 auto;
                    // 设置透明度
                    opacity: 0;
                    // 设置过渡持续时间
                    transition: all 0.5s;
                }
            }
        }
    }


    //乡村文化
    .culture_box {
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-size: cover;
        background-color: #eee;

        //内容盒子
        .conent_box {
            height: auto;
            width: 1800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;

            .culture-swiper {
                width: 1800px;
                margin: 0 auto;

                .culture_name {
                    height: 75px;
                    width: 100%;
                    font-size: 39px;
                    color: #fff;
                    background-color: #0000008a;
                    position: relative;
                    bottom: 79px;
                    text-align: center;
                    line-height: 75px;
                    font-family: 'sjkt';
                }

                .img_box {
                    height: 100%;
                    width: 100%;
                    background-color: #FFF;
                    border-radius: 10px;
                }
            }
        }

    }

    //  人才引进
    .talent_box {
        height: 915px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-size: cover;

        .conent_box {
            height: auto;
            width: 1780px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            align-content: flex-start;
            flex-wrap: wrap;

            // 通过伪类设置div阴影样式
            .con_box:hover {
                box-shadow: 0px 10px 20px #000000;
            }

            .con_box {
                height: 560px;
                width: 400px;
                background-color: #fff;
                // 设置过渡持续时间
                transition: all 0.5s;
                margin-bottom: 50px;

                .img_box {
                    height: 435px;
                    width: 100%;
                    background-color: #000;
                    background-repeat: no-repeat;
                    background-position: 0% 0%;
                    background-size: cover;
                    overflow: hidden;
                }

                .text_box {
                    height: 170px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .name_box {
                        height: auto;
                        width: auto;
                        font-size: 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        margin-left: 20px;
                    }

                    // 文字容器
                    .text_body {
                        height: 65px;
                        width: 95%;
                        //  文本溢出换行
                        display: -webkit-box;
                        word-break: break-all;
                        -webkit-box-orient: vertical;
                        // 设置行数限制，超过3行就显示省略号
                        -webkit-line-clamp: 3;
                        text-overflow: ellipsis;
                        // 设置超出div的内容不显示
                        overflow: hidden;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    // 振兴资讯
    .informa_box {
        height: 1100px;
        width: 100%;
        background-color: #fff;
        // 弹性盒子布局
        display: flex;
        // 布局显示方向
        flex-direction: column;
        align-items: center;
        background-size: cover;

        .conent_box {
            height: 800px;
            width: 2000px;
            // 弹性盒子布局
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left_box {
                height: 100%;
                width: 50%;

                // 设置伪类通过鼠标触发过渡效果
                .cont_box:hover {
                    // 显示阴影
                    box-shadow: 0px 10px 20px #585858;

                    // 图片位置向上偏移
                    .img_box {
                        background-position: 5% 5%;
                    }

                    // 标题变色
                    .title {
                        color: #00ab25;
                    }
                }

                .cont_box {
                    height: 710px;
                    padding: 45px;
                    background-color: #fff;
                    border-radius: 4px;
                    // 过渡持续时间
                    transition: all 0.5s;

                    .img_box {
                        height: 533px;
                        width: 100%;
                        background: url(../img/Information2.png) no-repeat;
                        background-size: cover;
                        overflow: hidden;
                        margin-bottom: 20px;
                        transition: all 0.5s;
                    }

                    .title {
                        height: auto;
                        width: auto;
                        color: #000;
                        margin-bottom: 5px;
                        transition: all 0.5s;
                    }

                    .time {
                        font-size: 13px;
                        color: #999;
                        margin-bottom: 20px;
                    }

                    .text_box {
                        height: 45px;
                        width: 100%;
                        margin-bottom: 20px;
                        display: -webkit-box;
                        word-break: break-all;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #666;
                    }
                }

            }

            .right_box {
                height: 100%;
                width: 950px;

                .cont_box:hover {
                    box-shadow: 0px 0px 20px #585858;

                    .img_box {
                        background-position: 5% 5% !important;
                    }

                    .min_right {
                        .head_box {
                            .title {
                                color: #00ab25;
                            }
                        }
                    }

                }

                .cont_box {
                    height: 216px;
                    // width: 100%;
                    padding: 25px;
                    background-color: #fff;
                    margin-bottom: 5px;
                    border-radius: 4px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    transition: all 0.5s;

                    .img_box {
                        height: 100%;
                        width: 340px;
                        overflow: hidden;
                        margin-bottom: 20px;
                        transition: all 0.5s;
                    }

                    .min_right {
                        height: auto;
                        width: 535px;

                        .head_box {
                            height: auto;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin-bottom: 20px;
                            align-items: center;

                            .title {
                                height: auto;
                                width: 450px;
                                color: #000;
                                // margin-bottom: 5px;
                                display: -webkit-box;
                                word-break: break-all;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                transition: all 0.5s;
                            }

                            .time {
                                font-size: 13px;
                                color: #999;
                            }
                        }

                        .text_box {
                            height: 45px;
                            width: 100%;
                            margin-bottom: 20px;
                            display: -webkit-box;
                            word-break: break-all;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
}