* {
  margin: 0;
  padding: 0;
}
.body_box {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
}
.body_box .up_box {
  height: 100%;
  width: 100%;
  background-color: #f2f5f6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  text-align: center;
  line-height: 40px;
  color: #1989fa;
}
.body_box .swiper_box {
  height: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: #ae1414;
}
.body_box .swiper_box .swiper_max {
  height: 100%;
  width: 100%;
  background-color: #000;
  line-height: 100%;
}
.body_box .swiper_box .swiper_max .swpier_img {
  height: 100%;
  width: 100%;
}
.body_box .swiper_box .swiper_max :nth-child(2) .swpier_img {
  background-color: #24cfdb;
}
.body_box .swiper_box .swiper_max :nth-child(3) .swpier_img {
  background-color: #20b702;
}
.body_box .swiper_box .swiper_max :nth-child(4) .swpier_img {
  background-color: #0214b7;
}
.body_box .swiper_box .swiper_max :nth-child(5) .swpier_img {
  background-color: #a8b702;
}
.body_box .title_box {
  height: auto;
  width: auto;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: sjkt;
}
.body_box .title_box .more {
  text-decoration: none;
  color: #00ab25;
}
.body_box .develop_box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.body_box .develop_box .conent_box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.body_box .develop_box .conent_box .con_box {
  height: 887px;
  width: 20%;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.5s;
}
.body_box .develop_box .conent_box .con_box .img_box {
  height: 100%;
  width: 100%;
  background-color: #000;
}
.body_box .develop_box .conent_box .con_box .name_box {
  height: 100%;
  width: 100%;
  background-color: #00000071;
  color: #fff;
  text-align: center;
  line-height: 900px;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
}
.body_box .develop_box .see_more {
  margin-top: 120px;
}
.body_box .culture_box {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-color: #eee;
}
.body_box .culture_box .conent_box {
  height: auto;
  width: 1800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.body_box .culture_box .conent_box .culture-swiper {
  width: 1800px;
  margin: 0 auto;
}
.body_box .culture_box .conent_box .culture-swiper .culture_name {
  height: 75px;
  width: 100%;
  font-size: 39px;
  color: #fff;
  background-color: #0000008a;
  position: relative;
  bottom: 79px;
  text-align: center;
  line-height: 75px;
  font-family: 'sjkt';
}
.body_box .culture_box .conent_box .culture-swiper .img_box {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
}
.body_box .talent_box {
  height: 915px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
}
.body_box .talent_box .conent_box {
  height: auto;
  width: 1780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.body_box .talent_box .conent_box .con_box:hover {
  box-shadow: 10px 10px 20px #000000;
}
.body_box .talent_box .conent_box .con_box {
  height: 560px;
  width: 400px;
  background-color: #fff;
  transition: all 0.5s;
  margin-bottom: 50px;
}
.body_box .talent_box .conent_box .con_box .img_box {
  height: 435px;
  width: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  overflow: hidden;
}
.body_box .talent_box .conent_box .con_box .text_box {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body_box .talent_box .conent_box .con_box .text_box .name_box {
  height: auto;
  width: auto;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.body_box .talent_box .conent_box .con_box .text_box .text_body {
  height: 65px;
  width: 95%;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
}
