* {
  margin: 0;
  padding: 0;
}
.body_box {
  height: auto;
  width: 100%;
  margin-bottom: 100px;
}
.body_box .conent {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.body_box .conent .head_img {
  height: 450px;
  width: 100%;
  background-color: #96ff45;
  background: url(../img/bg-banner7.jpg) no-repeat 0% 20%;
  background-size: 100%;
}
.body_box .conent .introduce {
  height: 350px;
  width: 1650px;
  margin: 0 auto;
  background-color: #dddddd00;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.body_box .conent .introduce .title_1 {
  height: auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
  color: #00ab25;
  margin-bottom: 40px;
}
.body_box .conent .introduce .text_1 {
  word-break: break-all;
  padding: 20px;
  font-size: 20px;
}
.body_box .conent .con_body {
  height: auto;
  width: 1850px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.body_box .conent .con_body .max_box {
  height: 500px;
  width: 100%;
}
.body_box .conent .con_body .max_box .right_box {
  height: 100%;
  width: 100%;
  display: flex;
}
.body_box .conent .con_body .max_box .left_box {
  height: 100%;
  width: 100%;
  display: flex;
}
.body_box .conent .con_body .con_item {
  height: 500px;
  width: 50%;
  line-height: 300px;
  text-align: center;
}
.body_box .conent .con_body .con_item .img_box {
  height: 100%;
  width: 100%;
  background-color: #fafd37;
}
.body_box .conent .con_body .con_item .text_box {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: initial;
}
.body_box .conent .con_body .con_item .text_box .title_box {
  height: 50px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  color: #00ab25;
  margin-bottom: 20px;
}
.body_box .conent .con_body .con_item .text_box .text_min {
  height: auto;
  width: auto;
  font-size: 18px;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  text-overflow: ellipsis;
  overflow: hidden;
}
