* {
  margin: 0;
  padding: 0;
}
.body_box {
  height: auto;
  width: auto;
}
.body_box .conent {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.body_box .conent .head_img {
  height: 450px;
  width: 100%;
  background-color: #96ff45;
  background: url(../img/bg-banner10.jpg) no-repeat 0% 20%;
  background-size: 100%;
}
.body_box .conent .introduce {
  height: 275px;
  width: 1650px;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.body_box .conent .introduce .title_1 {
  height: auto;
  width: auto;
  font-size: 35px;
  font-family: sjkt;
  margin-top: 60px;
  color: #00ab25;
  margin-bottom: 20px;
}
.body_box .conent .introduce .text_1 {
  word-break: break-all;
  padding: 20px;
  font-size: 15px;
}
.body_box .conent .con_box {
  height: auto;
  width: 1550px;
}
.body_box .conent .con_box .box {
  display: flex;
  flex-direction: row;
}
.body_box .conent .con_box .left_box {
  height: 411px;
  width: auto;
  display: flex;
}
.body_box .conent .con_box .right_box {
  height: 411px;
  width: 500px;
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}
.body_box .conent .con_box .right_box .title_name {
  font-size: 45px;
  font-family: sjkt;
  margin-bottom: 10px;
  color: #00ab25;
}
.body_box .conent .con_box .right_box .text_box {
  word-break: break-all;
  font-size: 20px;
  white-space: pre-wrap;
}
