// 乡村文化
* {
    margin: 0;
    padding: 0;
}

.body_box {
    height: auto;
    width: auto;

    .conent {
        height: auto;
        width: 100%;
        // background-color: pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;

        .head_img {
            height: 450px;
            width: 100%;
            background-color: #96ff45;
            background: url(../img/bg-banner10.jpg) no-repeat 0% 20%;
            background-size: 100%;
        }

        .introduce {
            height: 350px;
            width: 1650px;
            margin: 0 auto;
            background-color: #dddddd00;
            text-align: center;
            margin-top: 30px;
            border-radius: 10px;
            box-shadow: 0px 5px 20px #000;

            .title_1 {
                height: auto;
                width: auto;
                font-size: 30px;
                font-weight: bold;
                margin-top: 60px;
                color: #00ab25;
                margin-bottom: 25px;
            }

            .text_1 {
                word-break: break-all;
                padding: 20px;
                font-size: 20px;
            }
        }

        .con_box {
            height: 800px;
            width: 1850px;
            background-color: #Fff;
            margin-top: 50px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            box-shadow: 0px 5px 20px #000;

            .left_box {
                height: 100%;
                width: 600px;
                // background-color: #a94141;
                border-radius: 10px 0px 0px 10px;
                overflow: hidden;
            }

            .right_box {
                height: 750px;
                width: 1200px;
                // background-color: #f4ff94;
                margin: 0 auto;
                margin-top: 30px;
                text-align: left;

                .title_name {
                    font-size: 50px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: #00ab25;
                }

                .text_box {
                    word-break: break-all;
                    font-size: 20px;
                    white-space: pre-wrap;
                }
            }
        }
    }
}