
@font-face {
    font-family: "hgmtxk";
    src: url('huaguangmaotixingkai.ttf');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "sjkt";
    src: url('sanjibangkaiti.ttf');
    font-weight: normal;
    font-style: normal;
  }
  